
canvas 
{
    border: 2px solid black;
}


.col-md-4 
{
    color:black;
    margin-top:15px;
    height:350px;
    background-color: rgba(255,255,255,0.6);
}

#myShapes {
    margin-top:15px;
    margin-bottom:15px;
}

#canvasDiv
{
    text-align: right;
}


ul
{
    list-style-type: none;  
}

#requirements
{
    padding-left: 350px;
}

#bob
{
    margin-top: -50px;
    opacity: 1;
}

#top
{   
    opacity:0.95;
    height:50px; 
    background-color:#2D263A ;
    margin-bottom:50px;
}



#middle 
{
    background-color: rgba(255,255,255,0.6);
    z-index:-1;
    color:#0E0E0E;

}

#bottom
{   
    opacity:0.95;
    margin-top:50px;
    height:135px; 
    background-color:#2D263A;
}

#quote {
    margin-top:40px;
    color:#42403F;
}

p {
    text-align:center;
    font-size: 50px;
    color:#42403F;
    font-style: oblique;
}



body {
/*css for full size background image*/
  background: url("../Images/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  background-color: #060;
  color: #464646 !important;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
    
}
